
body{ background: url("../images/bkg-german-shepherd.jpg") bottom left no-repeat;  background-attachment:fixed;  font-family: 'Open Sans', sans-serif;} 
 
 

 
 .page-section-title { 
 color:#000;  margin-left:5px; background:#fff; border-bottom:1px solid #ccc; margin-top:10px;border-right:1px solid #ccc; border-radius: 0px;  padding:0px 15px 15px 15px;display:inline-block; text-transform:uppercase; font-size:20px;box-shadow: 0px  0px 0px #333;} 
 .page-section-title span { color:#AD1A1E;}
 
  .video-section-title { 
 color:#000;  margin-left:40px; background:#fff; border-bottom:1px solid #AD1A1E;margin-bottom:40px; margin-top:-10px;border-right:0px solid #AD1A1E; border-radius: 0px;  padding:0px 15px 5px 15px;display:inline-block; text-transform:uppercase; font-size:20px;} 
  .video-section-title span { color:#AD1A1E;}
	
 .page-sub-title {  
 color:#000; margin-left:5px; background:#fff;  border-bottom:1px solid #AD1A1E; margin-top:15px; margin-bottom:0px;text-transform:uppercase; font-size:14px;   padding:10px 25px;display:inline-block; box-shadow: 0px  0px 0px #333; font-size:16px;  } 
 .page-sub-title  span { color:#666;}
  
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn { 
	background:#eee; width:270px;
}
	
.page-dog-title {  
color:#000; margin-left:5px; background:#fff;  border-bottom:1px solid #AD1A1E; margin-top:15px; margin-bottom:0px;text-transform:uppercase; font-size:14px;   padding:10px 25px;display:inline-block; box-shadow: 0px  0px 0px #333; font-size:16px;  } 
.page-dog-title  span { color:#666;}

 .section-with-header{
 -webkit-box-shadow: 0px 0px 5px #000;background:#fff; border-radius:3px; box-shadow: 0px  0px 5px #333; margin-bottom:10px;  padding:45px 40px 35px 40px; margin:-20px 0px 0px 40px;}
  .section-sub-header{
 -webkit-box-shadow: 0px 0px 5px #000;background:#fff; border-radius:3px; box-shadow: 0px  0px 5px #333; margin-bottom:10px; margin:-20px 0px 0px 40px; padding:65px 40px 35px 40px;  }
  .section-dog-header{
 -webkit-box-shadow: 0px 0px 5px #000;background:#fff; border-radius:3px; box-shadow: 0px  0px 5px #333; margin-bottom:10px; margin:20px 35px 0px 70px; padding:10px 0px 10px 10px;  }
  .section-dog-header:hover{
 -webkit-box-shadow: 0px 0px 5px #000;background:#fff; cursor:pointer;border-radius:3px; box-shadow: 0px  0px 5px #AD1A1E; margin-bottom:10px; margin:20px 35px 0px 70px;padding:10px 0px 10px 10px;  }
 
  .page-section-title-no-pic { 
 color:#000;  margin-left:0px; background:#fff; border-bottom:1px solid #ccc; margin-top:-10px;border-right:1px solid #ccc;margin-bottom:-5px; border-radius: 0px;  padding:0px 15px 5px 15px;display:inline-block; text-transform:uppercase; font-size:20px; } 
   
	.page-section-title-no-pic span { color:#AD1A1E;}
	
.section{-webkit-box-shadow: 0px 0px 5px #000;background:#fff; border-radius:3px; box-shadow: 0px  0px 5px #333; margin-bottom:10px;   padding:45px 40px; display:inline-block;width:100%;  }

.section-partners{-webkit-box-shadow: 0px 0px 6px #000;background:#fff; border-radius:1px; box-shadow: 0px  0px 6px #333; margin-bottom:10px;margin-top:0px; padding:20px 30px 20px 30px; display:inline-block;   }

 .side-column { margin-left:10px;margin-right:40px; }
 .side-column-contact { display:inline-block}
  .side-column-contact { display:inline-block}
.side-column-contact div{ -moz-box-shadow:0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow:0px 0px 4px #000; }
.dogdisplay{display: inline-block; margin-right: 10px;width:200px; height:200px}
 .imgLiquid:hover{border:1px solid red''}


.red {  padding-right:10px}
.blue { color:#465C85}
.padTop{background-color: #fff; } 
.mainText{background: #fff; }
.list-title {   text-transform:uppercase; }
.list-title span{margin-right:5px;}
.logo{ background-image: url("../images/logo.png"); width:200px; height:122px; } 
.tagline{font-weight:bold;font-size:13px;margin-left:-15px;}
.social-icons {	 	float:right;}
.social-icons img{  border-radius:2px;	width:32px;height:32px; box-shadow: 0px  0px 3px #333}
.contact-info a{ }
.contact-info {	margin-top:-13px;background:white;opacity:1;position:relative;border-radius: 6px;  color:black;	padding: 10px 10px 10px 80px;	text-decoration:none !important;	line-height: 1.6em; box-shadow: 0px  0px 0px #333; }
.contact-column {	background:#000;	opacity:1;}
.left-glyph span{	margin-left:-6px;}
.left-glyph { 	border-radius:4px;	color:#586B07;		margin-left:15px;margin-right:-7px;margin-bottom:-1px;}
.left-contact{   background:#fff;border-right:0px solid #ddd;   text-align:right;  } 

.section-partners:hover{-webkit-box-shadow: 0px 0px 6px #000;background:whitesmoke; border-radius:1px; box-shadow: 0px  0px 6px #333; margin-bottom:10px;margin-top:0px; padding:20px 30px 20px 30px; display:inline-block;   }

/*#9D9487;AD1A1E*/
.video-box {position: relative; z-index: 1; }
.video-background{-moz-box-shadow: 0 0 10px #ccc; -webkit-box-shadow: 0 0 10px #333; box-shadow: 0 0 10px #333; } 

.playOverlay{position: absolute; z-index:0; margin-top:30px;margin-left:80px;opacity:.8}
.playOverlay:hover{position: absolute;  margin-top:30px;margin-left:80px; z-index: 0;opacity:1}

.lower-main{ margin-top:60px;background-color: none;}
.facebook-background{ -moz-box-shadow:0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow:0px 0px 4px #000; }
.facebook-header{border-radius: 3px 3px 0px 0px; margin-bottom:5px; height:30px;width:350px;padding:4px 10px 5px 20px; margin-left:10px; position:relative; z-index:9999999;}  
.facebook-header img{padding-right: 10px;margin-bottom:-5px;}

.black-header-text img{margin-left:-22px;height:35px;	margin-top:-10px;	position:absolute;	z-index:9999999;	}
.black-header-text{	color:white;	margin-left: 19px;	margin-top:-25px;	position:absolute;	z-index:9999999;	}
.black-header{border-radius: 0px;background:#AD1A1E;margin-top:155px;  -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000;	margin-left:10px;	height:30px;width:180px;opacity:.9;	padding:5px 10px 5px 10px;	position:relative;z-index:999;} 
 
 .title-header-text img{margin-left:-54px;height:35px;	margin-top:-10px;	position:absolute;	z-index:9999999;	}
.title-header-text{ 	color:#000;	margin-left: 8px;	margin-top:-30px;	position:absolute;	z-index:9999999;	}
.title-header{border-radius: 0px;background:#fff;  margin-left:-50px; -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 1 1 5px #000; box-shadow: 1 1 5px #000;	 	height:30px;display:inline-block; opacity:.9; width:173px;	padding:5px 10px 5px 10px;	position:relative;z-index:999;} 
 
 
.autofit-container{ height: 206px; width: 206px; display:inline-block; margin:5px;  }
.photo-thumb{  height: 206px; width: 206px;  float:left; border: 0px solid #d1d1d1; margin:0 1em 1em 0;border-radius: 0px; max-width:100%; max-height:100%;  border: 0px solid #d1d1d1;  -moz-box-shadow:0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow:0px 0px 4px #000;  }
 
.photo-thumb:hover{  height: 207px; width: 206px;  float:left; border: 4px solid #d1d1d1; margin:0 1em 1em 0;border-radius: 0px; max-width:100%; max-height:100%;     -moz-box-shadow:0px 0px 4px #000; -webkit-box-shadow: 0px 0px 4px #000; box-shadow:0px 0px 4px #000;  }

.image-wrap-right-no-header { padding-left:30px; margin-bottom:15px;margin-top:-13px; margin-right:-38px;  padding-bottom:15px;}
.image-wrap-right-no-header img{   -webkit-box-shadow: 0px 0px 11px #333;  box-shadow: 0px  0px 11px #333;-webkit-box-shadow: 0px  0px 11px #333; display:block;border:0px solid #000; float:right;   margin-left:20px; 	border-radius:2px;}
.image-wrap-right { padding-left:15px; margin-bottom:-15px;margin-top:-3px; margin-right:-8px;  }
.image-wrap-right img{ margin-bottom:20px; -webkit-box-shadow: 0px 0px 11px #333;  box-shadow: 0px  0px 11px #333;-webkit-box-shadow: 0px  0px 11px #333; display:block;border:0px solid #666; float:right;   margin-left:30px; 	border-radius:2px;}

.image-wrap-left { padding-right:15px;  margin-bottom:-15px; padding-bottom:15px;}
.image-wrap-left img{ display:block; -webkit-box-shadow: 0px 0px 11px #333;  box-shadow: 0px  0px 11px #333;-webkit-box-shadow: 0px  0px 11px #333;  float:left; border:0px solid #666;  margin-right:30px; margin-top:10px; margin-bottom:20px; 	border-radius:2px;} 

.image-full {max-width:100%; max-height:100%;  }
.image-full img{ width:700px;  -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000;  border:0px solid #666;     	border-radius:2px;} 
 
.watch-video-play{display:inline-block;-webkit-box-shadow: 0px 0px 6px #000;  box-shadow: 0px  0px 6px #000;-webkit-box-shadow: 0px  0px 6px #000;  margin:10px 5px;padding:5px 5px 5px 10px;   margin-top:10px;}  
 .watch-video-play a{padding-left:0px;margin:10px;  }  
  .watch-video-play span { }

.image-wrap-right-video img{ display:block;border:3px solid #666; float:right;   } 
.image-wrap-left-video img{ display:block; float:left; border:3px solid #666;    } 

.image-random-contact img{ float:left; width:330px; border-radius:0px;-webkit-box-shadow: 0px 0px 11px #666;  box-shadow: 0px  0px 11px #666;-webkit-box-shadow: 0px  0px 11px #666;}
.image-random img{ float:left; width:270px; border-radius:0px;-webkit-box-shadow: 0px 0px 11px #666;  box-shadow: 0px  0px 11px #666;-webkit-box-shadow: 0px  0px 11px #666;}
.title {display:inline-block; padding-bottom:10px;    margin-bottom:5px;padding:2px 10px;font-weight:bold;  margin-top:5px;} 
 
/* link blue 337ab7*/

.overview-list-items{ list-style-type:square; margin-top:10px; margin-bottom:10px;} 
.meet-the-team-head{ font-weight:bold;  margin-bottom:20px;  margin-left:-20px;  }
.right-testimonials { height:200px;display:block;}
.right-meet-the-team{ margin-top:-20px;}

  

.foot{border-top:1px solid #ddd; padding:20px 0px;}
.footlink   a{  color: #465C85;}
.footlink a:hover { color:rgb(90,108,9);font-weight: bold;}
.footer{background:white; opacity:1; border:0px; margin-bottom:-60px; margin-top:40px}