.thumbnail {	 background-color:  rgba(255,255,255,.9);	 border:1px solid  rgba(209,209,209,.9);}
.caption a {	color:black;}
.bg-success green{padding:10px; background: #6C7E23;color:white; } 
.bg-success white{padding:10px;background: #fff; }

/* --------------------GRID SYSTEM----------------------- */
.main{ margin-top:50px;    background-color: none;}
.container {	background-color: none;}
.row {background-color: none;} 

/*---------------------LIST GROUP------------------*/
.list-group{padding-left:0px;	padding-right: 10px;	padding-bottom:40px;	padding-top:40px;}
.list-group-item {	opacity:1;	margin-bottom: 2px; 	margin-right:10px; 	background:#fff; 		border:0px solid #ddd;}
.list-group-item:first-child {	border-radius: 2px 2px;} 
.list-group-item:last-child {	border-radius: 2px 2px;}
.list-group-item.active, .list-group-item.active:focus {  border-radius: 2px 2px;  background:#465C85; color: #fff;	border:0px solid #ddd; }
.list-group-item.active span, .list-group-item.active:focus span{ 	margin-right:10px;  color:#333;}
.list-group-item.active:hover{	background:#333;}  

/*---------------------NAVIGATION BAR------------------*/ 
.navbar-default .navbar-nav li a {color: #fff;} 
.navbar-default .navbar-nav li a:hover { 	color: white;}    



