 
/* --------------------GRID SYSTEM----------------------- */
.main{ margin-top:50px;    background-color: none;}
.container {	background-color: none;}
.row {background-color: none;} 

/*---------------------LIST GROUP------------------*/
.list-group {padding-left:0px;	padding-right: 10px;	padding-bottom:40px;	padding-top:40px; }
.list-group-item {	opacity:.9;	margin-bottom: 5px; 	margin-right:10px; 	  padding:13px 20px ;margin-bottom:3px;}
.list-group-item a {	color:#000;}
.list-group-item span { 	 	margin-right:10px;}
.list-group-item:first-child {	border-radius: 2px 2px;} 
.list-group-item:last-child {	border-radius: 2px 2px;}
.list-group-item.active, 
.list-group-item.active:focus { 	opacity:1;	   border-radius: 2px 2px;  background: rgb(255,255,255); color: #000;	border:1px solid #ddd; }
.list-group-item.active span, 
.list-group-item.active:focus span{ 	margin-right:10px; color:#AD1A1E;}
.list-group-item.active:hover{background:#fff;	 }  
 
/*---------------------NAVIGATION BAR------------------*/ 
.navbar-default .navbar-nav li   { border-right:1px dotted #ccc; 
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 48%, rgba(237,237,237,1) 97%, rgba(250,250,250,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(241,241,241,1)), color-stop(97%,rgba(237,237,237,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */

}
 
.navbar-default .navbar-nav li:hover   { border-right:1px dotted #ccc;background:#fff;  }
.navbar-default .navbar-nav li a {color: #000; font-size:15px;} 
 
.navbar-default .navbar-nav  { margin-top:-40px;

  box-shadow: 0px 0px 3px #333; border-radius:0px; }/*-- C6C6C6 --  */  
.navbar-default  {	background-color: #fff; border:0px;  }

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {

    border-top:1px solid #AD1A1E; 
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 48%, rgba(237,237,237,1) 97%, rgba(250,250,250,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(241,241,241,1)), color-stop(97%,rgba(237,237,237,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 48%,rgba(237,237,237,1) 97%,rgba(250,250,250,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */


 }
 
 
 
 .navbar-default .navbar-nav  .active > a:hover, 
 .navbar-default .navbar-nav  .active > a:focus {
      color: #000;  font-size:15px; 
		background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(232,232,232,1) 48%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(232,232,232,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 48%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 48%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 48%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 48%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

 }