 
/* --------------------GRID SYSTEM----------------------- */
.main{ margin-top:50px;    background-color: none;}
.container {	background-color: none;}
.row {background-color: none;} 

/*---------------------LIST GROUP------------------*/
.list-group {padding-left:0px;	padding-right: 10px;	padding-bottom:40px;	padding-top:40px;}
.list-group-item {	opacity:.9;	margin-bottom: 2px; 	margin-right:10px; 	background:#fff;  -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000;   	border:0px solid #ddd;}
.list-group-item:first-child {	border-radius: 2px 2px;} 
.list-group-item:last-child {	border-radius: 2px 2px;}
.list-group-item.active, .list-group-item.active:focus {	opacity:1;	  border-radius: 2px 2px; -webkit-box-shadow: 1px 1px 1px #000; background: rgb(244,244,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(244,244,244,1) 1%, rgba(234,234,234,1) 2%, rgba(225,225,225,1) 49%, rgba(206,206,206,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(244,244,244,1)), color-stop(2%,rgba(234,234,234,1)), color-stop(49%,rgba(225,225,225,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 1%,rgba(234,234,234,1) 2%,rgba(225,225,225,1) 49%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(244,244,244,1) 1%,rgba(234,234,234,1) 2%,rgba(225,225,225,1) 49%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(244,244,244,1) 1%,rgba(234,234,234,1) 2%,rgba(225,225,225,1) 49%,rgba(206,206,206,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(244,244,244,1) 1%,rgba(234,234,234,1) 2%,rgba(225,225,225,1) 49%,rgba(206,206,206,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

 color: #465C85;	border:0px solid #ddd; }
.list-group-item.active span, .list-group-item.active:focus span{ 	margin-right:10px;  color:#333;}
.list-group-item.active:hover{	background:#666;}  

/*---------------------NAVIGATION BAR------------------*/ 
.navbar-default .navbar-nav li a {color: #465C85; } 
.navbar-default .navbar-nav li a:hover { 	color: white;}    
.navbar-default  {	background-color: none; border:0px;}


