 
   <div class="navbar navbar-default footer"  >	 
        <div class="container"> 
				<div class="row foot" > 
					<div class="col-md-12">
						<img src="/images/logo-icon.png" style="padding-right:20px" />	© 2011 - Nashville K-9, LLC - All Rights Reserved
					</div> 
					 <!-- <div class="col-md-1 footlink">
						<a href="#" >HOME</a>
					</div>
					<div class="col-md-1 footlink">	
						<a href="#" style="margin-left:-15px">OVERVIEW</a>
					</div>
					<div class="col-md-1 footlink">	
						<a href="#">SERVICES</a>
					</div>	
					<div class="col-md-1 footlink">	
						<a href="#" >DOGS</a>
					</div>
					<div class="col-md-1 footlink">	
						<a href="#" style="margin-left:-15px">TRAINING</a>
					</div>
					<div class="col-md-1 footlink">	
						<a href="#" style="margin-left:-10px">GALLERY</a>
					</div>
					<div class="col-md-1 footlink">	
						<a href="#" style="margin-left:-10px">CONTACT</a>
					</div>l-->
				</div> 
		 </div>
	</div>	 

	 <!-- Ad-Roll-->
	 <script type="text/javascript">
		  adroll_adv_id = "TOZAI6OAMZEY5IUPUGAEFF";
		  adroll_pix_id = "BM4YG3HCBRCC5HWL4UHEFN";
		  (function () {
				var oldonload = window.onload;
				window.onload = function () {
					 __adroll_loaded = true;
					 var scr = document.createElement("script");
					 var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
					 scr.setAttribute('async', 'true');
					 scr.type = "text/javascript";
					 scr.src = host + "/j/roundtrip.js";
					 ((document.getElementsByTagName('head') || [null])[0] ||
					  document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
					 if (oldonload) { oldonload() }
				};
		  }());
	 </script>
 
 
    <!-- End-->