	<div style="height:120px"></div>  <!-- spacer -->
    <div class="navbar navbar-default navbar-fixed-bottom">	 
        <div class="container">
            <!--<p class="navbar-text"></p>-->
			<div class="row" style="background:none;"> 
				<div class="col-md-2">
					Nashville K-9
				</div>
				<div class="col-md-1 footlink">
					<div><a href="#">HOME</a></div>
				</div>
				<div class="col-md-1 footlink">	
					<div><a href="#">OVERVIEW</a></div>
				</div>
				<div class="col-md-1 footlink">	
					<div><a href="#">SERVICES</a></div>
				</div>	
				<div class="col-md-1 footlink">	
					<div><a href="#">DOGS</a></div>
				</div>
				<div class="col-md-1 footlink">	
					<div><a href="#">TRAINING</a></div>
				</div>
				<div class="col-md-1 footlink">	
					<div><a href="#">GALLERY</a></div>
				</div>
				<div class="col-md-1 footlink">	
					<div><a href="#">CONTACT</a></div>
				</div>
			</div>
      
    </div>
	
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Ad-Roll-->
    <script type="text/javascript">
        adroll_adv_id = "TOZAI6OAMZEY5IUPUGAEFF";
        adroll_pix_id = "BM4YG3HCBRCC5HWL4UHEFN";
        (function () {
            var oldonload = window.onload;
            window.onload = function () {
                __adroll_loaded = true;
                var scr = document.createElement("script");
                var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                scr.setAttribute('async', 'true');
                scr.type = "text/javascript";
                scr.src = host + "/j/roundtrip.js";
                ((document.getElementsByTagName('head') || [null])[0] ||
                 document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                if (oldonload) { oldonload() }
            };
        }());
    </script>
	<style type="text/css">
	{
	
	}
	
	</style>
    <!-- End-->