<div class="row">
  <div class="col-xs-6 col-sm-3"> </div>
  <div class="col-xs-6 col-sm-3"> </div> 
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div> 
  <div class="col-xs-6 col-sm-3">
		<table style="font-size:13px">
			<tr><td>Office + Sales:</td><td style="padding-left:10px"> (615) 438-2602  </td></tr>
			<tr><td>Training:</td><td style="padding-left:10px" > (615) 499-8161  </td></tr>
		</table>  
  </div>
  <div class="col-xs-6 col-sm-3">
		<a href="http://eepurl.com/bdQfET" rel="nofollow"><img src="/images/social/newsletter-icon.png" height="32px" style="border:1px solid #ccc;" /></a>
		<a href="http://www.facebook.com/pages/wwwNashvilleK9com/283654260595" rel="nofollow"><img src="/images/social/facebook-icon.png" /></a>
		<a href="https://www.youtube.com/nashvillek9training" rel="nofollow"><img src="/images/social/youtube-icon.png" /></a>
		<a href="http://www.yelp.com/biz/nashville-k-9-nashville" rel="nofollow"><img src="/images/social/yelp-icon.png" /></a> 
		<a href="https://instagram.com/nashvillek9" rel="nofollow"><img src="/images/social/instagram-icon.png" /></a>
		<a href="http://twitter.com/nashvillek9" rel="nofollow"><img src="/images/social/twitter-icon.png" /></a>
		<a href="https://plus.google.com/b/115830301031850500261/+Nashvillek9Training/about" rel="nofollow" ><img src="/images/social/google-plus-icon.png" height="32px" /></a>
  </div>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	 <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only"> </span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand logo" href="#"> </a>  
	 </div>
	 
	 <div id="navbar" class="navbar-collapse collapse">
 </br>  
		<ul class="nav navbar-nav navbar-right">
		<li id="homeli"><a href="/index.php">HOME</a></li>
			<li id="overviewli"><a href="/dog-training-tn-overview/overview.php"> OVERVIEW</a></li>
			<li id="servicesli"><a href="/dog-training-tn-services/services.php">  SERVICES</a></li>
			<li id="dogsli"><a href="/dogs.php">DOGS</a></li>
			<li id="videosli"><a href="/videos/dog-training-videos.php">TRAINING VIDEOS</a></li>
			<li id="galleryli"><a href="/gallery.php">GALLERY</a></li>
			<li id="contactli"><a href="/contact.php">CONTACT</a></li> 
		</ul>
	 </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
  		
</nav>
 
	
			 