 <div class="navbar navbar-default navbar-static-top padTop"> 		
	<div class="container"  >	
		<div class="row" >
			<div class="col-md-12 " >	
				<div class="row">
					<div class="col-md-6">
						<a href="#" class="navbar-brand logo "></a>
					</div>					 
					<div class="col-md-3" >
						<div class="contact-info"  >
							<div class="row"> 
								<span >	Office + Sales: </span> 
								<span style="padding-left:10px" >
									<span class="glyphicon glyphicon-phone " style="margin-bottom:-2px"  aria-hidden="true"></span>
									<a href="#">(615) 438-2602  </a>
								</span>  
							</div>
							<div class="row">					
								<span style="padding-left:35px">Training:  </span> 
								<span  style="padding-left:10px">
									<span class="glyphicon glyphicon-phone "  style="margin-bottom:-2px" aria-hidden="true"></span>
									<a href="#">(615) 499-8161 </a>
								</span>  
							</div>  
						</div> 
					</div>
					<div class="col-md-3 social-icons"  >
						<div class="row">
						<a href="http://www.facebook.com/pages/wwwNashvilleK9com/283654260595" rel="nofollow" >
							<img src="/NashvilleK9/images/social/facebook-icon.png"  alt="  on Facebook" title="  on Facebook" class=""  />
						</a>
						<a href="" rel="nofollow" >
							<img src="/NashvilleK9/images/social/youtube-icon.png"   />
						</a>
						<a href="" rel="nofollow" >
							<img src="/NashvilleK9/images/social/yelp-icon.png"  />
						</a> 
						<a href="" rel="nofollow" >
							<img src="/NashvilleK9/images/social/instagram-icon.png"  />
						</a>
						<a href="" rel="nofollow" >
							<img src="/NashvilleK9/images/social/twitter-icon.png" />
						</a>
						<a href="" rel="nofollow" >
							<img src="/NashvilleK9/images/social/google-plus-icon.png"  />
						</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="tagline">Better Trainers. Better Results.</div>
					</div> 
					<div class="col-md-8">					
						<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button> 
						<div class="collapse navbar-collapse navHeaderCollapse"  >
							<ul class="nav navbar-nav navbar-right mainNavBar">
								<li><a href="/NashvilleK9/index.php">HOME</a></li>
								<li><a href="/NashvilleK9/dog-training-tn-overview/overview.php">OVERVIEW</a></li>
								<li> <a href="/NashvilleK9/dog-training-tn-services/services.php">SERVICES</a></li>
								<li><a href="/NashvilleK9/dogs.php">DOGS</a></li>
								<li><a href="/NashvilleK9/videos/dog-training-videos.php">VIDEOS</a></li>
								<li><a href="/NashvilleK9/gallery.php">GALLERY</a></li>
								<li><a href="/NashvilleK9/contact.php">CONTACT</a></li> 
							</ul>
						</div>
					</div>	
				</div>
			</div> 
		</div> 
	</div> 
</div>
 