 
    <title>Nashville K-9</title>
    <meta name="viewport" http-equiv="Content-Type" content="width=device-width, intitial-scale=1.0" />
	 <meta name="format-detection" content="telephone=no" />
    <link href="/NashvilleK9/css/bootstrap.min.css" rel="stylesheet">
    <link href="/NashvilleK9/css/overrides.css" rel="stylesheet">
	 <link href="/NashvilleK9/css/custom.css" rel="stylesheet">
	 <link href="/NashvilleK9/css/img-hover-effect.css" rel="stylesheet"> 
	 <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 