 <div class="navbar navbar-default navbar-static-top padTop"> 		
	<div class="container"  >	
		<div class="row" >
			<div class="col-md-12 " >	
				<div class="row">
					<div class="col-md-9">
						<a href="#" class="navbar-brand logo "></a>
					</div>
					
					 <div class="col-md-3" style="float:right">
						<?php include('social-media.html');?>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="tagline">Better Trainers. Better Results</div>
					</div> 
					<div class="col-md-7">
					<?php include('navigation.html');?>
					</div>	
				</div>
			</div> 
		</div> 
	</div> 
</div>
 