<div class="lower-main">	
	<div class="container " style="background:none;">	
		<div class="row " style="background:none;">
		
			<div class="col-md-4 pull-left" >			
				<div class="facebook-iframe"> 
					<iframe 
					src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FwwwNashvilleK9com%2F283654260595&amp;width=353&amp;height=640&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;border_color=white&amp;header=false&amp;appId=384540454954612" 
					scrolling="no" 	frameborder="0" style="border:0px solid white; overflow:hidden; width:353px; height:640px;" allowtransparency="false"></iframe>
				</div>
			</div> 
			
			<div class="col-md-4" >	
				<div class="row " style="background:none;">
					<div class="hover-text" >	
						TRAINING PROGRAMS
					</div>
				</div>
				<div class="row " style="background:none;">
					<div class="col-md-4" >	
						<div class="view view-first"> 
							<img class="round-corner" src="images/training-programs.png" />						
							<div class="mask">
								<h2>Training Programs</h2>
								<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
								<a href="#" class="info">Read More</a>
							</div>
						</div>  
					</div>
				</div>
				
				
				<div class="row " style="background:none;">
					<div class="hover-text" >	
						PET FIRST AID
					</div>
				</div>
				<div class="row " style="background:none;">
					<div class="col-md-4" >	
						<div class="view view-first"> 
						<img class="round-corner" src="images/pet-first-aid.png" />						
						<div class="mask">
							<h2>Pet First Aid</h2>
							<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
							<a href="#" class="info">Read More</a>
						</div>
					</div>  
					</div>
				</div>
				
				
				 <div class="row " style="background:none;">
					<div class="hover-text" >	
						SEARCH AND RESCUE
					</div>
				</div>
				<div class="row " style="background:none;">
					<div class="col-md-4" >	
						<div class="view view-first"> 
						<img class="round-corner" src="images/search-rescue.png" />						
						<div class="mask">
						<h2>Search and Rescue</h2>
						<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
						<a href="#" class="info">Read More</a>
					</div>
					</div>  
					</div>
				</div>
				
					
			</div> 
			
			<div class="col-md-4 push-4 " style="background:none;">		
				 <div class="hover-text">POLICE DOGS </div>
				<div class="view view-first"> 
					<img class="round-corner" src="images/police-dogs.png" />
					<div class="mask">
						<h2>Police Dogs</h2>
						<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
						<a href="#" class="info">Read More</a>
					</div>
				</div>  
				
				<div class="hover-text-lower"> EXECUTIVE PROTECTION</div>
				<div class="view view-first"> 
					<img class="round-corner" src="images/executive-protection.png" />
					<div class="mask">
						<h2>Executive Protection</h2>
						<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
						<a href="#" class="info">Read More</a>
					</div>
				</div>  
				
				<div class="hover-text-lower">DETECTION DOGS </div>
				<div class="view view-first"> 
					<img class="round-corner" src="images/detection-dogs.png" />
					<div class="mask">
						<h2>Detection Dogs</h2>
						<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
						<a href="#" class="info">Read More</a>
					</div>
				</div>  
			</div>
		</div>
	</div>
</div>
    